.cards {
    display: flex;
    margin-left: 5%; 

}
.card{
    margin-right: 15%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    height: 75%;
    width: 75%;
}

.title {
    text-align: center;
    width: 100%;
}

.description {
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.hover-black-button {
    flex: 1;
}

.card-title {
    text-align: center;
}

.alignment {
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border: thin solid #333;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 90px;
}

.alignment:hover {
    color: #fff;
    background-color: #333;
}

.button-position {
    position: relative;
    bottom: 6.5%;
    right: 28%;
    left: 28%;
}

#css {
    width: 100%;
    height: 850px;
    background: url('../../../../assets/css.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container {
    width: 100%;
}

.long-card-white {
    display: flex;
    background-color: #f2f2f2;
    color: #2f2f2f;
}

.white-content {
    flex: 1;
    padding-top: 7%;
    text-align: center;
    padding-right: 15%;
    font-size: 150%;
}

.white-img {
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 24%;
}

.white-btn {
    background-color: #2f2f2f;
    color: #f2f2f2;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px #2f2f2f solid;
    border-radius: 50px;
}

.long-card-blue {
    display: flex;
    background-color: #007E9A;
    color: #f2f2f2;
}

.blue-content {
    flex: 1;
    padding-top: 9%;
    text-align: center;
    padding-left: 12.5%;
    font-size: 150%;
}

.blue-img {
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    padding-right: 12%;
}

.blue-btn {
    background-color: #f2f2f2;
    color: #2f2f2f;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px #f2f2f2 solid;
    border-radius: 50px;
}
