<div id="css"></div>
<div class="content">
  <div class="title">
    <h1>What is CSS?</h1>
  </div>
  <div class="description">
    <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup
      language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
  </div>
</div>
<div class="dividers">
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../../assets/documentation.png">
    </div>
    <div class="white-content">
      <p>Learn the documentation provided by TXT. In here is everything that will be covered this summer.</p>
      <button (click)="toTechCurriculum()" class="btn white-btn">Get Started</button>
    </div>
  </div>
  <div class="long-card-blue">
    <div class="blue-content">
      <p>If you are confused, or wish to learn more about CSS. Click here for additional help from sites approved by TXT.</p>
      <button (click)="toYouthDevelopment()" class="btn blue-btn">Get Started</button>
    </div>
    <div class="blue-img">
      <img src="../../../../assets/whiteCSS.png">
    </div>
  </div>
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../../assets/presentation.png">
    </div>
    <div class="white-content">
      <p>Here lies the presentation that you will be expected to use when teaching the students this summer.</p>
      <button (click)="toProductDevelopment()" class="btn white-btn">Get Started</button>
    </div>
  </div>
</div>