<div class="techCurr">
  <h1 class="techCurrTitle">Tech Curriculum</h1>
  <p class="subtitle">Learn about all the different languages
    we will be going over this summer</p>
  <img class="arrow vert-move" src="../../../assets/arrow.png">
</div>
<div class="long-card-white">
  <div class="white-content">
    <div class="title">
      <h1>What Should You Expect</h1>
    </div>
    <div class="body">
      <p>This summer you are expected to understand the tech curriculum enough to be able to teach and assist the students througout
        the development process. Each coach is expected to have at least fundamental knowledge, which can be learned through
        the resources provided below.</p>
    </div>
  </div>
</div>
<div class="long-card-blue">
  <div class="blue-content">
    <div class="title">
      <h1>What Is In The Tech Curriculum? </h1>
    </div>
    <div class="body">
      <p>The tech curriculum holds everything from basic HTML and CSS to the more intensive Angular, Python and Ionic. We also
        expect you to be able to learn MongoDB. Resources for learning all of which are provided below.</p>
    </div>
  </div>
</div>
<div class="title">
  <h1>Tech Curriculum</h1>
</div>
<div class="container">
  <div class="cards">
    <div class="hover-black-button">
      <div class="card">
        <img (click)="toAngular()" class="card-img-top" src="../../../assets/angularIcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Angular 6</h5>
        </div>
      </div>
      <div class="button-position">
        <button (click)="toAngular()" class="btn btn-dark alignment">View More</button>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card">
        <img (click)="toHTML()" class="card-img-top" src="../../../assets/htmlcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">HTML</h5>
        </div>
      </div>
      <div class="button-position">
        <button (click)="toHTML()" class="btn btn-dark alignment">View More</button>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card">
        <img (click)="toCSS()" class="card-img-top" src="../../../assets/cssIcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CSS</h5>
        </div>
      </div>
      <div class="button-position">
        <button (click)="toCSS()" class="btn btn-dark alignment">View More</button>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="hover-black-button">
      <div class="card">
        <img (click)="toPython()" class="card-img-top" src="../../../assets/pythonIcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Python</h5>
        </div>
      </div>
      <div class="button-position">
        <button (click)="toPython()" class="btn btn-dark alignment">View More</button>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card">
        <img (click)="toIonic()" class="card-img-top" src="../../../assets/ionicIcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ionic</h5>
        </div>
      </div>
      <div class="button-position">
        <button (click)="toIonic()" class="btn btn-dark alignment">View More</button>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card">
        <img (click)="toMongoDB()" class="card-img-top" src="../../../assets/mongoDBIcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mongo DB</h5>
        </div>
      </div>
      <div class="button-position">
        <button (click)="toMongoDB()" class="btn btn-dark alignment">View More</button>
      </div>
    </div>
  </div>
</div>