<div class="dividers">
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../assets/curriculum.png">
    </div>
    <div class="white-content">
      <h1>Tech Curriculum</h1>
      <p>Learn about the MEANstack and the key points that we will be going over this summer. Presentations and documentation
        are provided in order to best prepare you.</p>
      <button (click)="toTechCurriculum()" class="btn white-btn">Get Started</button>
    </div>
  </div>
  <div class="long-card-blue">
    <div class="blue-content">
      <h1>Youth Development</h1>
      <p> Learn more about pushing the LIL’s to their maximum potential. How to deal with failure and many more.</p>
      <button (click)="toYouthDevelopment()" class="btn blue-btn">Get Started</button>
    </div>
    <div class="blue-img">
      <img src="../../../assets/youth.png">
    </div>
  </div>
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../assets/product.png">
    </div>
    <div class="white-content">
      <h1>Buisness Development</h1>
      <p>Learn more about problem statements, data collection and how they should be done. Here you will learn what a good and
        bad example of products are and how to properly correct it.</p>
      <button (click)="toBusinessDevelopment()" class="btn white-btn">Get Started</button>
    </div>
  </div>
</div>