.dividers {
    display: block;
}

.long-card-white {
    display: flex;
    background-color: #f2f2f2;
    color: #2f2f2f;
}

.white-content {
    flex: 1;
    padding-top: 3%;
    text-align: center;
    padding-right: 15%;
    font-size: 150%;
}

.white-img {
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 24%;
}

.white-btn {
    background-color: #2f2f2f;
    color: #f2f2f2;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px #2f2f2f solid;
    border-radius: 50px;
}

.long-card-blue {
    display: flex;
    background-color: #007E9A;
    color: #f2f2f2;
}

.blue-content {
    flex: 1;
    padding-top: 7%;
    text-align: center;
    padding-left: 12.5%;
    font-size: 150%;
}

.blue-img {
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    padding-right: 12%;
}

.blue-btn {
    background-color: #f2f2f2;
    color: #2f2f2f;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px #f2f2f2 solid;
    border-radius: 50px;
}

.txtImg{
    background: url("../../../assets/campImg.png");
    width: 100%;
    background-size: cover;
    height: 700px;
}
.title {
    font-size: 68px;
    color: white;
    font-weight: 100;
    text-align: center; 
    padding-top: 20%;
}
.subtitle {
    font-size: 32px;
    color: white;
    font-weight: 100;
    text-align: center; 
    padding-top: 5%;
}

.arrow {
    position: absolute;
    top: 95%;
    width: 25px;
    left: 50%;
}

.long-card {
    color: #2f2f2f;
}

.content {
    padding: 10%;
    text-align: center;
    font-size: 150%;
}

img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}