<div id="python"></div>
<div class="content">
  <div class="title">
    <h1>What is Python?</h1>
  </div>
  <div class="description">
    <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built
      in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application
      Development, as well as for use as a scripting or glue language to connect existing components together.</p>
  </div>
</div>
<div class="dividers">
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../../assets/documentation.png">
    </div>
    <div class="white-content">
      <p>Learn the documentation provided by TXT. In here is everything that will be covered this summer.</p>
      <button class="btn white-btn">Get Started</button>
    </div>
  </div>
  <div class="long-card-blue">
    <div class="blue-content">
      <p>If you are confused, or wish to learn more about Python. Click here for additional help from sites approved by TXT.</p>
      <button  class="btn blue-btn">Get Started</button>
    </div>
    <div class="blue-img">
      <img src="../../../../assets/whitePython.png">
    </div>
  </div>
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../../assets/presentation.png">
    </div>
    <div class="white-content">
      <p>Here lies the presentation that you will be expected to use when teaching the students this summer.</p>
      <button class="btn white-btn">Get Started</button>
    </div>
  </div>
</div>