<div id="angular"></div>
<div class="content">
  <div class="title">
    <h1>What is Angular?</h1>
  </div>
  <div class="description">
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
      dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers
      developers to build applications that live on the web, mobile, or the desktop.</p>
  </div>
</div>
<div class="dividers">
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../../assets/documentation.png">
    </div>
    <div class="white-content">
      <p>Learn the documentation provided by TXT. In here is everything that will be covered this summer.</p>
      <button (click)="toTechCurriculum()" class="btn white-btn">Get Started</button>
    </div>
  </div>
  <div class="long-card-blue">
    <div class="blue-content">
      <p>If you are confused, or wish to learn more about Angular 6. Click here for additional help from sites approved by TXT.</p>
      <button (click)="toYouthDevelopment()" class="btn blue-btn">Get Started</button>
    </div>
    <div class="blue-img">
      <img src="../../../../assets/whiteAngular.png">
    </div>
  </div>
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../../assets/presentation.png">
    </div>
    <div class="white-content">
      <p>Here lies the presentation that you will be expected to use when teaching the students this summer.</p>
      <button (click)="toProductDevelopment()" class="btn white-btn">Get Started</button>
    </div>
  </div>
</div>