<div class="long-card">
  <div class="content">
    <div class="title">
      <h1>What Should You Expect?</h1>
    </div>
    <div class="body">
      <p>During the product development phase this summer you are expected to stick with your team, make sure they are all making
        progress and help them push through all of thier hurdles.</p>
    </div>
  </div>
</div>
<div class="dividers">
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../assets/agileDevelopment.png">
    </div>
    <div class="white-content">
      <h1>Agile Development</h1>
      <p>In this course learn how to help your team develop there projects in an effective and effiecent way. Eliminate waste
        through such practices as selecting only the truly valuable features for a system. It emphasizes the speed and efficiency
        of development workflow.</p>
      <button (click)="toTechCurriculum()" class="btn white-btn">Get Started</button>
    </div>
  </div>
  <div class="long-card-blue">
    <div class="blue-content">
      <h1>Problem Statements</h1>
      <p>In this course learn what a problem statement is, how to help your team break down there problem in order to find the
        root of the problem. Learn how to ask your team the right questions in order to make sure they have a solid problem
        statement.
      </p>
      <button (click)="toYouthDevelopment()" class="btn blue-btn">Get Started</button>
    </div>
    <div class="blue-img">
      <img src="../../../assets/problemStatement.png">
    </div>
  </div>
  <div class="long-card-white">
    <div class="white-img">
      <img src="../../../assets/designThinking.png">
    </div>
    <div class="white-content">
      <h1>Design Thinking</h1>
      <p>Design Thinking is an iterative process in which we seek to understand the user, challenge assumptions, and redefine
        problems in an attempt to identify alternative strategies and solutions that might not be instantly apparent with
        our initial level of understanding.</p>
      <button (click)="toBusinessDevelopment()" class="btn white-btn">Get Started</button>
    </div>
  </div>
</div>